* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 18px sans-serif;
}

.container {
    height: 100vh;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form */
.container .form-box {
    background: linear-gradient(#4b4747, #8b8989);
    height: 600px;
    width: 420px;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    box-shadow: -3px 3px 3px rgba(0,0,0,0.6);
}

.container .form-box #contact {
    display: grid;
    width: 400px;
    margin: 0 30px;
}

/* Form Sections */
#contact .header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #f8f8f8;
}

#contact .header h2 {
    font-size: 32px;
    font-weight: 600;
    color: #f8f8f8;
}

.form-section {
    align-self: center;
}

.form-section input,
.form-section textarea, 
.form-section button {
    height: 32px;
    width: 100%;
    border-radius: 5px;
    background: #f8f8f8;
}

.form-section textarea {
    height: 200px;
}

.form-section button {
    height: 30px;
    border: none;
}

.form-section button:hover {
    box-shadow: 2px 2px 2px #4b4747,
                -2px -2px 2px #4b4747,
                0 2px 0 #4b4747,
                0 0 0 2px #4b4747;
    transition: .2s ease;
    cursor: pointer;
}